<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2ccf822415.js" crossorigin="anonymous"></script>
    <title>Travel Application</title>
</head>
<body>
    <div class="container">
        <div class="headline">
            <div class="title">
                <h1>Travel Scheduler</h1>
                <p>Where Next?</p>
            </div>
        </div>
        <section class="booking">
            <form class="bookTrip">
                <div class="tripOrder">
                    <p>From: </p><input type="text" id="locationFrom" placeholder="Enter your destination">
                </div>
                <div class="tripOrder">
                    <p>To: </p><input type="text" id="locationTo" placeholder="Enter your destination">
                </div>
                <div class="tripOrder">
                    <p>Departure: </p><input type="date" id="departing">
                </div>
                <div class="tripOrder">
                    <p>Return Date: </p><input type="date" id="returnDate">
                </div>
                <div class="ticketDecision">
                    <button type="submit" id="saveTrip">Create Trip</button>
                    <button type="submit" id="clearTrip">Clear</button>
                </div>
            </form>
        </section>
        <section class="trip-documentation">
            <div class="trip">
                <h2>My Trips</h2>
            </div>
            <div class="trip__record">

                <!-- <div class="trip__card">
                    <div class="card__header">
                        <i class="fas fa-plane-departure fa-2x"></i>
                        <p>Your Trip To <span id="loc">London, United Kingdom</span> is <span id="days-left">20</span> Days Away</p>
                        <i class="fas fa-igloo fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="trip__details">
                        <div class="trip__destination">
                            <img src="<%= require('../media/airplane-6674689_1920.jpg') %>" width="200" height="200">
                            <p class="" id="about-country"><span>London, UK</span><span>High: 30 degrees</span><span>Low: 19 degrees</span></p>
                            <p id="currency">Currency: <span id="currency-name">Currency name</span> (<span id="currency-symbol">currency symbol</span>)</p>
                            <p id="country-weather">Weather description: <span id="weather-description">Cloudy</span></p>
                        </div>
                        <div class="trip__order">
                            <p>From: <span id="from-country">9ja</span></p>
                            <p>To: <span id="to-country">Yankee</span></p>
                            <p id="departure">DEPARTURE DATE</p>
                            <p id="departure-date">1/12/12</p>
                            <p id="return">RETURN DATE</p>
                            <p id="return-date">07/12/12</p>
                            <p id="duration">Your trip duration is <span>20 days</span></p>
                        </div>
                    </div>
                    <div class="trip__extra">
                        <button class="item lodging__info">+ Add Lodging Info</button>
                        <button class="item packing__list">+ Add Packing List</button>
                        <button class="item notes">+ Add Notes</button>
                    </div>
                    <div class="trip__decision">
                        <button class="trip__decide save__ticket">Save Ticket</button>
                        <button class="trip__decide remove__trip">Remove Trip</button>
                    </div>
                </div> -->

            </div>
           
        </section>
        <footer>
            <p>Developed by Roland Orobola</p>
            <div class="contact">
                <span>Connect with me:</span>
                <a href="https://github.com/rolandexplore93" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github" aria-hidden="true"></i>
                </a>
                <span> | </span>
                <a href="https://www.linkedin.com/in/roland-orobola-607439106/" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
                <span> | </span>
                <a href="https://www.linkedin.com/in/roland-orobola-607439106/" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
        </footer>
    </div>
    

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker
                    .register('/service-worker.js')
                    .then((registration) => {
                        console.log('SW registered: ', registration);
                    })
                    .catch((registrationError) => {
                        console.log('SW registration failed: ', registrationError);
                    });
            });
        }
    </script>
</body>
</html>