.headline {
    padding: 0 100px;
    margin-bottom: 10px;

    .title > h1 {
        font-size: 4rem;
        // border: 1px solid yellow;
    }

    .title > p {
        font-size: 2rem;
        text-align: center;
        font-weight: 700;
        text-decoration: underline;
    }
}






